<div class="container">
<h1 class="mt-3">
Add BlogPost
</h1>
<form>
<div class="mt-2">
<div class="mt-3">

<label for ="Title" class="form-label">Title</label>
<input type="text" id ="Title"  name ="Title" class="form-control">
</div>




<div class="mt-3">

    <label for ="urlHandle" class="form-label">urlHandle</label>
    <input type="text" id ="urlHandle"  name ="urlHandle" class="form-control">
    </div>
    
    <div class="mt-3">

        <label for ="ShotDescription" class="form-label">Shot Description</label>
        <input type="text" id ="ShotDescription"  name ="ShotDescription" class="form-control">
        </div>


        <div class="mt-3">

            <label for ="Content" class="form-label">Content</label>
            <textarea type="text" id ="Content"  name ="Content" class="form-control"></textarea>
            </div>

            <div class="mt-3">

                <label for ="FeaturedImageUrl" class="form-label">FeaturedImageUrl</label>
                <input type="text" id ="FeaturedImageUrl"  name ="FeaturedImageUrl" class="form-control">
                </div>

           


                    <div class="mt-3">

                        <label for ="PublisedDate" class="form-label">Publised Date</label>
                        <input type="date" id ="PublisedDate"  name ="PublisedDate" class="form-control">
                        </div>





    </div>









</form>
</div>
